.form-group {
    display: flex;
    align-items: baseline;
}

.public-form {
    text-align: center;
    margin-left: 30%;
}

.form-icon {
    margin-right: 20px;
    color: rgb(72, 177, 197);
}

.btn-save {
    margin-left: 30%;
    padding-top: 30px;
}
