.btn {
	background: #fff;
	cursor: pointer;
	font-size: 20px;
	border: none;
}

.btn--add {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	font-size: 40px;
}

.btn--special{
	color: rgb(8, 245, 87);
	margin-top: 4px;
	border: none;
	font-size: 22px;
	margin-right: 20px;
}

.btn--completed {
	color: rgb(216, 94, 94);
	margin-top: 4px;
	border: none;
	font-size: 22px;
	margin-right: 20px;
	background-color: #fff;
}

.line-through {
	text-decoration: line-through;
	opacity: 0.5;
}

.btn--edit {
	border: none;
	font-size: 20px;
	margin-right: 10px;
	color: #cbd930;
}

.btn--remove {
	border: none;
	font-size: 20px;
	font-weight: bold;
}