.filter-todo {
	padding: 1rem;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
	position: relative;
}

.select {
	position: absolute;
    right: 38.5%;
    overflow: hidden;
    border: 2px solid rgb(53, 170, 248);
    border-radius: 10px;
}
select {
	color:rgb(53, 170, 248);
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	width: 12rem;
}
  /* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	background:rgb(53, 170, 248);
	cursor: pointer;
	pointer-events: none;
}


